* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Press Start 2P';
  background: white;

}

.example {
  width: 80%;
  max-height: 95%;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  background: black;
  border-radius: 20px;
}


header, footer {
  width: 100%;
  height: 2%;
  text-align: center;
  vertical-align: text-top;
  font-size: 1rem;
  background-color:	#5cb85c;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 100%;
  height: 96%;
  flex-direction: row;
  justify-content: center;
}

nav, aside {
  background-color:	#5cb85c;
  min-width: 2%;
}

.centerElDiv{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mainmenuItem {
  min-height: 7%;
  min-width: 10%;
  cursor: pointer;
  color: #654321;
}

.mainTitle {
  min-height: 12%;
  min-width: 20%;
  color: #5c4033;
}

.gameDiv{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gameScreen {
  background-color: #F5FCFF;
  border: 1px solid #F5FCFF;
  height:90%;
  position: relative;
  width: 70%;
  overflow: hidden;
  border-radius: 20px;
}

.scoreScreen {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #F5FCFF;
  height:100%;
  width: 30%;
  overflow: hidden;
}


.graphDiv{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.graphScreen{
  height: 45%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.spacediv{
  height:10%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
}

.graphs{
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphtitle{
  height:10%;
  font-size: 12px;
  color: #654321;
}

.feedback{
  max-height:25%;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  color: #654321;
}

.newgame{
  max-height:20%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pboxed{
  color: #5c4033;
  border: 1px solid #888;
}

.scoreContent {
  min-height: 10%;
  color: #654321;
}

.infoContent {
  max-height: 10%;
  max-width: 10%;
  color: #654321;
  border: 1px solid #888;
  text-align: center;

}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: #654321
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  color: #654321

}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.mainDiv {
  background-color: #F5FCFF;
  border: 1px solid #F5FCFF;
  height:100%;
  /* position: relative; */
  width: 100%;
  /* vertical-align: center; */
  overflow: hidden;
}

.content1 {
  background-color: #F5FCFF;
  flex-grow: 0.75;
  border: 1px solid #F5FCFF;
  height:100%;
  position: relative;
  width: 30%;
  vertical-align: center;
  overflow: hidden;
}



.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: safe center;
  height: 100%;
}

.testing {
  touch-action: none;
  user-select: none;
  max-width: 40px;
  height: 40px;
}

.disconnect {
  touch-action: none;
  user-select: none;
  width: 40px;
  height: 40px;
}

.connect {
  touch-action: none;
  user-select: none;
  width: 40px;
  height: 40px;
}

.time {
  width: 40px;
  height: 40px;
}

.score {
  width: 40px;
  height: 40px;
}

.lock {
  cursor: url(resources/lock.png), auto;
  width: 10px;
  height:10px;
}

.test {
  cursor: url(resources/quarantine.png), auto;
}

.unlock{
  cursor: url(resources/unlock.png), auto;
}

.bordered{
  /* outline: 3px dotted white; */
}

.connected{
  /* outline: 1px solid white; */
}


.testinprogress{
  outline: 3px solid #a2c829;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) and (max-height: 800px) {

  .main {
    flex-direction: column;
    justify-content: center;
    height: 95%;
  }

  .flexcol {
    flex-direction: row;
    width: 100%;
    align-content: space-around;
    justify-content: baseline;
  }

  nav, aside {
    max-height: 15%;
  }

  .content {
    background-color: #f5fcff;
    flex-grow: 0.9;
    border: 1px solid black;
    height:100%;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;

  }

  .testing {
  touch-action: none;
  user-select: none;
  max-width: 30px;
  height: 30px;
}

.disconnect {
  touch-action: none;
  user-select: none;
  width: 30px;
  height: 30px;
}

.connect {
  touch-action: none;
  user-select: none;
  width: 30px;
  height: 30px;
}

.time {
  width: 30px;
  height: 30px;
}

.score {
  width: 30px;
  height: 30px;
}

header, footer {
  width: 100%;
  height: 4%;
  text-align: center;
  vertical-align: text-top;
  font-size: 1rem;
  background-color:	black;
  color: white;
}


.bordered{
  outline: 4px solid black;
}

.testinprogress{
  outline: 3px dotted black;
}

}
