* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Press Start 2P';

}

.example {
  width: 80%;
  max-height: 95%;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  background: black;
  border-radius: 20px;
}


header, footer {
  width: 100%;
  height: 4%;
  text-align: center;
  vertical-align: text-top;
  font-size: 1rem;
  background-color:	black;
  color: white;
}

.main {
  display: flex;
  width: 100%;
  height: 88%;
  flex-direction: row;
  justify-content: center;
}

nav, aside {
  background-color:	#b7e9f7;
  min-width: 7%;
}


.content {
  background-color: #F5FCFF;
  flex-grow: 0.75;
  border: 1px solid black;
  height:100%;

  position: relative;
  width: 100%;
  vertical-align: center;
  overflow: hidden;
}


.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: safe center;
  height: 100%;
}

.testing {
  touch-action: none;
  user-select: none;
  max-width: 40px;
  height: 40px;
}

.disconnect {
  touch-action: none;
  user-select: none;
  width: 40px;
  height: 40px;
}

.connect {
  touch-action: none;
  user-select: none;
  width: 40px;
  height: 40px;
}

.time {
  width: 40px;
  height: 40px;
}

.score {
  width: 40px;
  height: 40px;
}

.lock {
  cursor: url(resources/lock.png), auto;
  width: 10px;
  height:10px;
}

.test {
  cursor: url(resources/quarantine.png), auto;
}

.unlock{
  cursor: url(resources/unlock.png), auto;
}

.bordered{
  /* outline: 3px dotted white; */
}

.connected{
  /* outline: 1px solid white; */
}


.testinprogress{
  outline: 3px solid white;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) and (max-height: 800px) {

  .main {
    flex-direction: column;
    justify-content: center;
    height: 95%;
  }

  .flexcol {
    flex-direction: row;
    width: 100%;
    align-content: space-around;
    justify-content: baseline;
  }

  nav, aside {
    max-height: 15%;
  }

  .content {
    background-color: #f5fcff;
    flex-grow: 0.9;
    border: 1px solid black;
    height:100%;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;

  }

  .testing {
  touch-action: none;
  user-select: none;
  max-width: 30px;
  height: 30px;
}

.disconnect {
  touch-action: none;
  user-select: none;
  width: 30px;
  height: 30px;
}

.connect {
  touch-action: none;
  user-select: none;
  width: 30px;
  height: 30px;
}

.time {
  width: 30px;
  height: 30px;
}

.score {
  width: 30px;
  height: 30px;
}

header, footer {
  width: 100%;
  height: 4%;
  text-align: center;
  vertical-align: text-top;
  font-size: 1rem;
  background-color:	black;
  color: white;
}


.bordered{
  outline: 4px solid black;
}

.testinprogress{
  outline: 3px dotted black;
}

}
